body {
    background-color:#999999;
    font-family: 'Oswald', sans-serif;
}
.color-grey-9-hidden {
    display: none;
  }
p
{
color:#000000;
font-size:20px;
}

.textBox
{
height:30px;
width:300px;
}

button
{
height:95px;
width:300px;
border-radius:8px;
padding:10px;
font-size:50px;
font-family: 'Oswald', sans-serif;
cursor:pointer;
background-color:wheat;
}
